<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dorothy</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css">
    <link rel="stylesheet" type="text/css" href="https://dorothy-mirim.herokuapp.com/css/fullcalendar.min.css">
    <link rel="stylesheet" href="https://dorothy-mirim.herokuapp.com/css/styles.css" />

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://dorothy-mirim.herokuapp.com/js/fullcalendar.min.js"></script>
    <link rel="icon" href="https://dorothy-mirim.herokuapp.com/assets/favicon_32.png" type="image/x-icon">
    <link rel="shortcut icon" href="https://dorothy-mirim.herokuapp.com/assets/favicon_32.png" type="image/x-icon">
</head>
<body id="page-top">
    <div class="header">
    <!-- navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="https://dorothy-mirim.herokuapp.com/assets/Dorothy_logo.png"></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#introduction">동아리 소개</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#calendar-section">캘린더</a>
                    </li>
                    <%if(!id){%>
                      <li class="nav-item">
                          <a class="nav-link js-scroll-trigger" href="login">로그인</a>
                      </li>
                    <% } else { %>
                      <li class="nav-item">
                          <a class="nav-link js-scroll-trigger" href="leader_view">동아리 관리</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link js-scroll-trigger" href="logout">로그아웃</a>
                      </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Carousel -->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">1</li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1">2</li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2">3</li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="https://dorothy-mirim.herokuapp.com/assets/img_1.png" alt="첫번째 슬라이드">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="https://dorothy-mirim.herokuapp.com/assets/img_2.png" alt="두번째 슬라이드">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="https://dorothy-mirim.herokuapp.com/assets/img_3.png" alt="세번째 슬라이드">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <img src="https://dorothy-mirim.herokuapp.com/assets/left.png" class="leftbtn">
            <span class="sr-only">이전</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <img src="https://dorothy-mirim.herokuapp.com/assets/right.png" class="rightbtn">
            <span class="sr-only">다음</span>
        </a>
    </div>

    <!-- introduction section -->
    <section id="introduction" class="about-section text-center">
        <div class="container" style="padding-top: 71px; max-width: 100%;">
            <hr width="70px">
            <div class="sec-name">동아리 소개</div>
            <div class="sec-explain">관심있는 동아리를 마음껏 구경해보세요!</div>
            <div class="club-row">

            <%if(contents.length>0){%>
              <%var i = 0;%>
              <%contents.forEach(function(item){%>
              <%i++;%>

                  <div class="club-col" onclick="location.href='/view/<%=item.token%>'">
                      <img class="club-img" src='<%=item.images[0].url%>'>
                      <div class="club-name"><%=item.name%></div>
                  </div>
              <%})%>
              <%} else {%>
              <tr>
                  <td colspan="5">아직 등록된 동아리가 없습니다.</td>
              </tr>
            <%}%>
            </div>
        </div>
    </section>

    <!-- calendar section -->
    <section id="calendar-section" class="about-section text-center" style="padding-top: 130px;">
            <div class="container" style="max-width: 100%;">
                <hr width="70px">
                <div class="sec-name">캘린더</div>
                <div class="sec-explain">신청마감일과 면접날짜를 놓치지 마세요!</div>

                <center><div id='calendar' style="width: 1026px;"></div></center>
            </div>
        </section>

    <script>
        $(function() {
            $('#calendar').fullCalendar({
                timeFormat: 'a hh:mm',
                // 이벤트 작성 구문임!
                events: [

                    <%if(contents.length>0){%>
                      <%var i = 0;%>
                      <%contents.forEach(function(item){%>
                      <%i++;%>
                      {
                          title: '<%=item.name%>',
                          start: new Date('<%=item.interview_date%>'),
                          end: new Date('<%=item.interview_date%>')
                      },
                      <%})%>
                    <%}%>
                ]
            })
        });
    </script>
    <script src="https://dorothy-mirim.herokuapp.com/js/grayscale.min.js"></script>
    <script src="https://dorothy-mirim.herokuapp.com/js/jquery.easing.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
</body>
</html>
