<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%=item.name%></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="http://localhost:9999/css/styles.css" />
    <link rel="stylesheet" href="http://localhost:9999/css/student_view.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css">
</head>
<body id="page-top">
    <div class="header">
    <!-- navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="http://localhost:9999/index"><img src="http://localhost:9999/assets/Dorothy_logo.png"></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="http://localhost:9999/index.ejs#introduction">동아리 소개</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="http://localhost:9999/index.ejs#calendar">캘린더</a>
                    </li>
                    <%if(!id){%>
                      <li class="nav-item">
                          <a class="nav-link js-scroll-trigger" href="http://localhost:9999/login">로그인</a>
                      </li>
                    <% } else { %>
                      <li class="nav-item">
                          <a class="nav-link js-scroll-trigger" href="http://localhost:9999/leader_view">동아리 관리</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link js-scroll-trigger" href="http://localhost:9999/logout">로그아웃</a>
                      </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>

    <!-- img -->
    <div class="view-img">
        <div class="title">
            <hr width="70px" style="background-color: white;">
            <div><%=item.name%></div>
        </div>
    </div>

    <!-- content -->
    <div class="container" style="padding: 0;">
        <!-- 동아리 소개 -->
        <div class="content">
            <div class="index incontent">
                <hr width="70px" style="padding: 0; margin: 0;">
                <label for="intro">동아리 소개</label>
            </div>
            <div class="contents intro incontent">
                <%=item.introduction%>
            </div>
        </div>

        <!-- 동아리 목표 -->
        <div class="content">
            <div class="index incontent">
                <hr width="70px" style="padding: 0; margin: 0;">
                <label for="goal">동아리 목표</label>
            </div>
            <div class="contents goal incontent">
                <%=item.goal%>
            </div>
        </div>

        <!-- 동아리 활동 내용 -->
        <div class="content">
            <div class="index incontent">
                <hr width="70px" style="padding: 0; margin: 0;">
                <label for="activity">동아리<br>활동 내용</label>
            </div>
            <div class="contents activity incontent">
                <%=item.activity%>
            </div>
        </div>

        <!-- 신입생들이 지원해야 하는 이유 -->
        <div class="content">
            <div class="index incontent">
                <hr width="70px" style="padding: 0; margin: 0;">
                <label for="reason">신입생들이<br>지원해야하는<br>이유</label>
            </div>
            <div class="contents reason incontent">
                <%=item.reason%>
            </div>
        </div>

        <!-- 면접 날짜 기타 공지 -->
        <div class="content">
            <div class="index incontent">
                <hr width="70px" style="padding: 0; margin: 0;">
                <label for="date">면접 날짜<br>기타 공지</label>
            </div>
            <div class="contents date incontent">
                <%=item.etc%>
            </div>
        </div>

        <center><input type="button" value="신청하기"class="join-btn" onclick="location.href='/apply/<%=item.token%>'"></center>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="http://localhost:9999/js/grayscale.min.js"></script>
    <script src="http://localhost:9999/js/jquery.easing.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>
</html>
