<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=item.name%></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/student_view.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css">
    <link rel="icon" href="/assets/favicon_32.png" type="image/x-icon">
    <link rel="shortcut icon" href="/assets/favicon_32.png" type="image/x-icon">

    <base href="ec2-13-125-242-65.ap-northeast-2.compute.amazonaws.com" target="_self">
</head>
<body id="page-top">
    <div class="header">
    <!-- navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container content-container">
            <a class="navbar-brand js-scroll-trigger" href="/index"><img src="/assets/Dorothy_logo.png"></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/index.ejs#introduction">동아리 소개</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/index.ejs#calendar">캘린더</a>
                    </li>
                    <%if(!id){%>
                      <li class="nav-item">
                          <a class="nav-link js-scroll-trigger" href="/login">로그인</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link js-scroll-trigger" href="/join">회원가입</a>
                      </li>
                    <% } else { %>
                      <li class="nav-item">
                          <a class="nav-link js-scroll-trigger" href="/leader_view">동아리 관리</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link js-scroll-trigger" href="/logout">로그아웃</a>
                      </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>
  </div>

    <!-- img -->
    <div class="view-img">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">1</li>
              <%if(item.images.length>0){%>
                <%for(var i=1; i<item.images.length; i++){%>
                  <li data-target="#carouselExampleIndicators" data-slide-to='<%=i%>'><%=i+1%></li>
                <%}%>
              <%}%>
            </ol>
            <div class="carousel-inner">
              <%if(item.images.length>0){%>
                <%var i = 0;%>
                  <%item.images.forEach(function(element){%>
                    <%if(i==0){%>
                      <div class="carousel-item active">
                    <%} else {%>
                      <div class="carousel-item">
                    <%}%>
                      <img class="d-block w-100" style="height: 100%" src='<%=element.url%>' alt="첫번째 슬라이드">
                    </div>
                    <%i++;%>
                  <%})%>
                <%} else {%>
                  <div class="carousel-item active">
                      <img class="d-block w-100" src="/assets/img_1.png" alt="첫번째 슬라이드">
                  </div>
              <%}%>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <img src="/assets/left.png" class="leftbtn">
                <span class="sr-only">이전</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <img src="/assets/right.png" class="rightbtn">
                <span class="sr-only">다음</span>
            </a>
            <div class="carousel-caption">
              <hr width="70px" style="background-color: white;">
              <div><%=item.name%></div>
          </div>
      </div>
    </div>


    <!-- content -->
    <div class="container content-container" style="padding: 0;">
        <!-- 동아리 소개 -->
        <div class="content">
            <div class="index incontent">
                <hr width="70px" style="padding: 0; margin: 0;">
                <label for="intro">동아리 소개</label>
            </div>
            <div class="contents intro incontent" id="index1">
                <%=item.introduction%>
            </div>
        </div>

        <!-- 동아리 목표 -->
        <div class="content">
            <div class="index incontent">
                <hr width="70px" style="padding: 0; margin: 0;">
                <label for="goal">동아리 목표</label>
            </div>
            <div class="contents goal incontent" id="index2">
                <%=item.goal%>
            </div>
        </div>

        <!-- 동아리 활동 내용 -->
        <div class="content">
            <div class="index incontent">
                <hr width="70px" style="padding: 0; margin: 0;">
                <label for="activity">동아리<br>활동 내용</label>
            </div>
            <div class="contents activity incontent" id="index3">
                <%=item.activity%>
            </div>
        </div>

        <!-- 신입생들이 지원해야 하는 이유 -->
        <div class="content">
            <div class="index incontent">
                <hr width="70px" style="padding: 0; margin: 0;">
                <label for="reason">신입생들이<br>지원해야하는<br>이유</label>
            </div>
            <div class="contents reason incontent" id="index4">
                <%=item.reason%>
            </div>
        </div>

        <!-- 면접 날짜 기타 공지 -->
        <div class="content">
            <div class="index incontent">
                <hr width="70px" style="padding: 0; margin: 0;">
                <label for="date">면접 날짜<br>기타 공지</label>
            </div>
            <div class="contents date incontent" id="index5">
                <%=item.interview_date.getFullYear()%>년 <%=item.interview_date.getMonth() + 1%>월 <%=item.interview_date.getDate()%>일 <%=item.interview_date.getHours()%>시 <%=item.interview_date.getMinutes()%>분<br>
                <%=item.etc%>
            </div>
        </div>

        <%if(email){%>
          <center><input type="button" value="신청하기"class="join-btn" onclick="location.href='/apply/<%=item.token%>'"></center>
        <% } else { %>
          <center><input type="button" value="신청자 조회"class="join-btn" onclick="location.href='/vertify/<%=item.token%>'"></center>
        <% } %>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://dorothy-mirim.herokuapp.com/js/grayscale.min.js"></script>
    <script src="https://dorothy-mirim.herokuapp.com/js/jquery.easing.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        for(var i=1;i<=5;i++){
          var str = $("#index"+i).text()
          console.log('i='+i+', before='+str);
          str = str.replace(/(?:\r\n|\r|\n)/g, '<br>');
          console.log('i='+i+', after='+str);
          $("#index"+i).html(str);
          // $("#index"+i).text(str);
        }
      });
    </script>
</body>
</html>
